body{
	background: #ffffff;
  	color: navy;
   }

main{
    font-family:Helvetica, sans-serif;
    padding: 20px;
}

.resumefont{
  font-family: "Times New Roman", Times;
}

h1{
	color: orange;
}
p{
	color: black;
}

li{
	color: black;
}

nav ul{
	background: white;
	border-style: solid;
  padding: 10px;
  height: 20px;
	color: orange;
	border-radius: 10px;
}

nav ul li{
	list-style-type: none;
  display: inline;
  float: right;
	margin-right: 10px;
	margin-left: 10px;
	color: orange;

}

nav ul li a{
	text-decoration: none;
}

h1.big{
	font-size: 30px;
}

section > h2{
	color: orange;
}

.stylishBox {
  background-color: white;
  color: #A52A2A;
  width: 350px;
  border-style: solid;
  border-width: 4px;
  border-color: orange;
  border-radius: 10px;
}


.coverphoto{
  height: 40%;
  width: 100%;
}


#container {
  width: 200px;
  height: 200px;
  display: table;
  background-color: white; 
  padding: 20px;       
}

#container .image-container {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

#container .image-container img {
  border-radius: 10px;
  max-width: 100%;
  max-height: auto;        

 
}

.font{
  font-family: "Helvetica", sans-serif;
}

.padding{
  padding: 70px;
}

div{
  color: black;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.column2 {
  flex: 80%;
  padding: 5px;
}


.logo{
  width: 50px;
  height: 50px;
}

.logo {list-style: none}
.logo ul li {list-style: none; display: inline;}
.logo img { vertical-align: middle}